<footer class="bg-black py-10">
    <div class="container mx-auto">
        <h3>TM & © Lucasfilm Ltd. All Rights Reserved</h3>

        <ul class="flex items-center flex-wrap gap-4 text-center justify-center text-white">
            <li>
                <a href="https://disneytermsofuse.com/" class="text-white border-b pb-1 text-sm">Terms of Use</a>
            </li>
            |
            <li>
                <a href="https://support.disney.com/hc/en-us/articles/360000829466-Legal-Notices"
                    class="text-white border-b pb-1 text-sm">Additional Content Information</a>
            </li>
            |
            <li>
                <a href="http://disneyprivacycenter.com/" class="text-white border-b pb-1 text-sm">Children's Online
                    Privacy Policy</a>
            </li>
            |
            <li>
                <a href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy/"
                    class="text-white border-b pb-1 text-sm">Your US State Privacy Rights</a>
            </li>
            |
            <li>
                <a href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/your-us-state-privacy-rights/"
                    class="text-white border-b pb-1 text-sm">Star Wars at shopDisney</a>
            </li>
            |
            <li>
                <a href="https://www.shopdisney.com/franchises/star-wars/?CMP=SYN-Dcom&att=StarWars_Footer_Store"
                    class="text-white border-b pb-1 text-sm">Star Wars Helpdesk</a>
            </li>
            |
            <li>
                <a href="https://support.starwars.com/" class="text-white border-b pb-1 text-sm">Interest-Based Ads</a>
            </li>
            |
            <li>
                <a href="https://privacy.thewaltdisneycompany.com/en/dnssmpi/"
                    class="text-white border-b pb-1 text-sm">Do Not Sell or Share My Personal Information</a>
            </li>
        </ul>
    </div>
</footer>