<header class="w-full">
    <section class="w-full border-b-dark-grey border-b border-solid bg-black">
        <div class="w-full py-6">
            <a href="/">
                <img src="../assets/images/star-wars-logo.png" alt="star-logo" width="180px" height="80px"
                    class="mx-auto">
            </a>
        </div>
        <nav>
            <ul class="flex items-center mx-auto w-fit">
                <li class="px-7">
                    <p routerLink="/films" class="text-grey uppercase text-base tracking-normal font-bold hover:text-white duration-300 cursor-pointer pb-3" routerLinkActive="shadow-shadow-navlink">
                        Films
                    </p>
                </li>
                <li class="px-7">
                    <p routerLink="/people" class="text-grey uppercase text-base tracking-normal font-bold hover:text-white duration-300 cursor-pointer pb-3" routerLinkActive="shadow-shadow-navlink">
                        People
                    </p>
                </li>
                <li class="px-7">
                    <p routerLink="/planets" class="text-grey uppercase text-base tracking-normal font-bold hover:text-white duration-300 cursor-pointer pb-3" routerLinkActive="shadow-shadow-navlink">
                        Planets
                    </p>
                </li>
                <li class="px-7">
                    <p routerLink="/species" class="text-grey uppercase text-base tracking-normal font-bold hover:text-white duration-300 cursor-pointer pb-3" routerLinkActive="shadow-shadow-navlink">
                        Species
                    </p>
                </li>
                <li class="px-7">
                    <p routerLink="/starships" class="text-grey uppercase text-base tracking-normal font-bold hover:text-white duration-300 cursor-pointer pb-3" routerLinkActive="shadow-shadow-navlink">
                        Starships
                    </p>
                </li>
                <li class="px-7">
                    <p routerLink="/vehicles" class="text-grey uppercase text-base tracking-normal font-bold hover:text-white duration-300 cursor-pointer pb-3" routerLinkActive="shadow-shadow-navlink">
                        Vehicles
                    </p>
                </li>
            </ul>
        </nav>
    </section>
</header>
<main class="bg-black h-full py-10">
    <router-outlet></router-outlet>
</main>