<div class="bg-[url('https://lumiere-a.akamaihd.net/v1/images/screen_shot_2022-10-10_at_1_4099fde7.png?region=0,0,1440,600')] bg-no-repeat bg-cover container mx-auto flex flex-col items-center justify-around h-[84vh]">
    <img src="https://lumiere-a.akamaihd.net/v1/images/e404-4ced2cd1702d_bb1ae7b9.jpeg?region=0,0,964,647" alt="404" width="482px" class="mb-10">
    <div>
        <h2 class="text-white font-extrabold text-3xl text-center mb-4">THIS PAGE IS NOT FULLY ARMED AND OPERATIONAL.</h2>
        <p class="text-white font-extrabold text-center text-2xl">Try something else?</p>
    </div>
</div>
