<div class="relative min-h-[80vh] w-full">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
    [type]="'ball-spin-clockwise'" [fullScreen]="false">
    <p class="text-white"> Loading... </p>
  </ngx-spinner>
  
  <ul class="relative grid lg:grid-cols-3 xl:grid-cols-4 md:grid-cols-2 gap-6 py-10 container mx-auto">
    <li *ngFor="let film of (data$ | async)?.results">
      <div
        class="entity-container entity-type-articlepage ratio-16x9 links-out corners-default show-details card-display">
        <div class="entity-mask rounded-tl-lg rounded-tr-lg">
          <a href=" https://www.starwars.com/news/minecraft-star-wars-path-of-the-jedi"
            class="rounded-tl-lg rounded-tr-lg bg-[#1d1e1f]">
            <div class="articlepage-box entity-box thumb-border rounded-tl-lg rounded-tr-lg">
              <div class="aspect rounded-tl-lg rounded-tr-lg">
                <div class="flex items-center gap-x-2 p-5">
                  <p class="text-light text-center text-sm">{{film.opening_crawl}}</p>
                </div>
              </div>
            </div>
          </a>
          <div class="entity-details text-left visible">
            <div class="decal-contain">
              <div class="decal"></div>
            </div> <a href="https://www.starwars.com/news/minecraft-star-wars-path-of-the-jedi"
              class="entity-link title-link show-details"
              data-title="Minecraft Star Wars: Path of the Jedi DLC Now Available" tabindex="-1">
              <h3 class="title no_focus">
                <span>Star Wars: {{film.title}}</span>
              </h3>
              <div class="flex items-start gap-x-2">
                <h2 class="text-base text-light">Producer:
                </h2>
                <p class="text-base text-light">{{film.producer}}</p>
              </div>
              <div class="flex items-center gap-x-2">
                <h2 class="text-base text-light">Released date:
                </h2>
                <p class="text-base text-light">{{film.release_date | date:'mediumDate'}}</p>
              </div>
            </a>
            <div class="notch-contain"></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>